@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.player-button {
  @apply w-full bg-white rounded-2xl p-8 cursor-pointer hover:bg-red-100;
}

.start-now {
  @apply cursor-pointer z-10 text-white text-lg font-semibold h-12 px-6 
  bg-green-500 hover:bg-green-600 active:bg-green-700 
  transition-all duration-300 rounded-full shadow-lg 
  flex items-center justify-center;
}
